*{
	margin: 0;
	padding: 0;
}
body{
	height: 1386px;
	width: 980px;
	margin: 0 auto;
}
.top{
	position: relative;
	height: 61px;
	width: 892px;
	margin: 0 auto;
	border-bottom: 2px solid #938e8c;
}
.top-left{
	position: absolute;
	height: 61px;
	width: 110px;
	background: #d55d5c;
	font: 12px '黑体';
	color: #ffffff;
	text-align: center;
	line-height:110px;
}

.top-right{
	position: absolute;
	right: 0;
	bottom: 0;
	font: 12px '黑体';
	color: #d45d5c;
}

.one{
	width: 892px;
	/*margin: 35px auto;*/
	overflow: hidden;
}
.image{
	position: relative;
	float: left;
	width: 641px;
}
.img-left{
	position: absolute;
	left: 0;
	height: 301px;
	width: 191px;
	background: #40594a;
	opacity: 0.5;
}
.img-right{
	position: absolute;
	right: 0;
	height: 301px;
	width: 191px;
	background: #aa6b69;
	opacity: 0.5;
}
.one-right{
	float: right;
	width: 203px;
	border-top: 2px solid #cc8091;
}
.about{
	font: 24px 'Microsoft YaHei';
	color: #000000;
	text-decoration: underline;
	line-height:40px;
}
.info{
	font: 12px '楷体';
	color: #676767;
	line-height:10px;
}
.num{
	font: oblique 116px 'Microsoft YaHei';
	color: #75b86b;
	text-decoration: underline;

}
.three-p-two{
	float: left;
	font: 55px 'Microsoft YaHei';
	color: #cc8091;
}
.css{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	height: 43px;
}
.css p:first-child {
	font: 21px 'Microsoft YaHei';
	color: #cc8091;
}
.css p:last-child{
	font: 12px 'Microsoft YaHei';
	color: #cc8091;
}

.three-w{
	width: 641px;
	margin-left: 44px; 
	overflow: hidden;
}
.qd{
	margin-top: 16px;
}
.what{
	float: left;
	width: 200px;
	font: 12px 'SimSun';
	line-height: 16px;
	color: #767777;
	line-height:10px;
}
.what-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #418c59;
}
.when {
	float: left;
	margin-left: 15px;
	font: 12px 'Microsoft YaHei';
	width: 200px;
	line-height: 16px;
	opacity: 0.7;
}
.when-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #d2994f;
}
.how {
	float: left;
	margin-left: 15px;
	width: 200px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
}
.how-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #cc7680;
}
.three-what{
	font: oblique 12px 'Microsoft YaHei';
	color: #cd4a48;
	opacity: 0.7;
}

.content-bottom{
	width: 892px;
	margin: 35px auto;
	overflow: hidden;
}
.bottom-left{
	float: left;
	width: 415px;
}
.title{
	border-bottom: 2px solid #11456b;
}
.the{
	display: inline;
	font: italic bold 72px 'SimHei';
	color: #f5e327;
}
.thc{
	display: inline;
	font: bold 42px 'SimHei';
	color: #11456b;
	line-height: 16px;
}
.of{
	font: bold 42px 'SimHei';
	color: #11456b;
	line-height: 16px;
}
.fn{
	font: bold 33px 'SimHei';
	color: #11456b;
	line-height: 70px;
}
.content{
	width: 415px;
	padding: 20px 0;
}
.fp{
	font: 12px 'SimSun';
	color: #767777;
	line-height: 16px;
}
.fp:first-child::first-letter {
	font: 70px 'Microsoft YaHei';
	color: #f5e327;
}
.img2 {
	float: right;
	padding: 10px;
}

.bottom-right{
	position: relative;
	float: right;
	width: 459px;
}
.img{
	position: relative;
}
.img3-title {
	position: absolute;
	bottom: 2px;
	height: 61px;
	width: 459px;
	background: #1c1c1b;
	opacity: 0.5;
}
.sp {
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 5px;
	height: 40px;
	border-left: 3px solid #72b16a;
	line-height: 40px;
}
.sp span:first-child {
	font: 26px 'Microsoft YaHei';
	color: #ffffff
}
.sp span:last-child {
	font: italic 12px 'Microsoft YaHei';
	color: #72b16a;
}

.right-content{
	margin-top: 50px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	height:318px;
	width: 459px;
	background: #efedd7;
	text-align: center;
	line-height: 30px;
}
.tag{
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 5px solid transparent;
	border-bottom: 8px solid #10456b;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.right-content p{	
	margin-left: 20px;
	text-align:left;
}
.qq{
	text-align:right;
}
.red{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 160px;
	width: 260px;
	background: #d55d5c;
}
.zero{
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	height:86px;
	font:  110px 'Microsoft YaHei';
	color: #ffffff;
	border-right: 5px solid #ffffff;
	line-height: 80px;
	
}
.one {
	float: right;
	width: 160px;
	margin-top: 20px;
	margin-right: 10px;
	height: 120px;
	font: italic 21px '黑体';
	color: #ffffff;
	line-height: 24px;
	text-align: left;
}
.hello{
	font:  12px '黑体';
	color: #ffffff;
}
.none-writing {
	position: absolute;
	padding-right: 10px;
	right: 0px;
	bottom: 0;
	height: 160px;
	width: 189px;
	font: italic 14px '黑体';
	color: #5a5b5b;
	line-height: 16px;
	text-align: left;
}
.none-writing span {
	margin-left: -30px;
	font: 72px 'SimHei';
	color: #d45d5d;
}
.none-writing span:last-child {
	float: right;
}

.page-bottom {
	margin: 0 auto;
	width: 892px;
	border-top: 1px solid #938e8c;
	font: 12px 'SimHei';
	color: #d45d5c;
	text-align: right;
}